<%= form_for(@fu) do |f| %>
  <% if @fu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fu.errors.count, "error") %> prohibited this fu from being saved:</h2>

      <ul>
      <% @fu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
