/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require jquery-ui
 *= require_self
 */

.hidden{
display:none
}

.navbar-right{
float:right
}

.clear{
clear:both
}

.text-center{
text-align:center
}

.button {
    background-color:blue;
    color: white;
    cursor:pointer;
    padding:1em;
    margin:1em;
    display:table-cell
}
#popup {position:fixed; width:100%; background-color: #f5f1d8; z-index:1000000;  border-radius:7px; padding:1em; top:30%; right:0px}
#popup_cross {float:right; background-color:#f5f1d8; color:#b52735; z-index:1000000;cursor:pointer}

.cell {
background-color: #f5f1d8;
}
.cell.activated {
background-color: #ccc;
}
